#app {
	font-family: 'Avenir', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: greyscale;
	color: #2C3350;
	text-align: center;
	margin-top: 60px;
}
.joke-card {
	border: 2px solid #2C3350;
	border-radius: 2px;
	padding: 5px;
	margin: 5px; 
}
